.list {
  margin-top: 50px;
}
.card {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}
.img {
  width: 100px;
  min-width: 50px;
  padding-right: 20px;
}
.img img {
  width: 100%;
  border: blueviolet 1px solid;
  border-radius: 50%;
}
.title {
  font-weight: 500;
}
.description {
  color: grey;
  font-size: 0.8rem;
}
.price {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
}
.edit,
.trash {
  margin: 5px;
  padding: 10px;
  width: 25px;
  background-color: #f1f1f1;
  border: white 2px solid;
  border-radius: 50%;
  cursor: pointer;
}
.trash img,
.edit img {
  width: 20px;
  margin-left: 3px;
}

.edit:hover,
.trash:hover {
  border: blueviolet 2px solid;
}

.col {
  margin-right: 10px;
}

.input {
  width: 40px;
}
.but {
  display: flex;
  justify-content: space-between;
}
